/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    html {
        font-size: 8px 
    }
   }


 @media (max-width: 570px) {
    
    .container {
        min-width: 80%;
    }
    .sub-header {
        display: none;
    }

    .sub-header_adaptive {
        display: block; 
    }
    
    .sub-header__site-burger {
        width: 32rem;
        z-index: 30;
        margin-bottom: -25px;
    }
    
    .sub-header__menu {
        justify-content: space-between;
    }
    .sub-header__icon {
        margin-left: -3.4rem ;
    }
    #sub-header__bucket_small {
        padding-top: 5px;
    }
    .sub-header__bucket-indicator {
        margin-left: 3px;
    }

    .header {
        padding-top: 48px;
    }
    .header__content {
        top: 5%;
        left: 5%;
    }
    .header__logo-description {
        padding-left: 11px;
        padding-top: 11px;
    }

    .header__menu {
        padding-top: 6rem;
        padding-bottom: 5rem;
    }
    .header__menu-bar {
        display: none;
    }

    .header__description {
        padding-top: 0rem;
        padding-bottom: 4rem;
        font-size: 4.2rem;
    }

    .header__button { 
        margin-bottom:10px;
    }

    .services {
        padding-top: 42px;
    }
    .services__slider-content {
        font-size: 16px;
    }

    .services__control-prev {
        left: -2%;
        top:-22%;
    }

    .services__control-next {
        left: 15%;
        top: -22%;
    }

    .services__slider-header {
        padding-bottom: 22px;
    }

    #services__carousel {
        padding-bottom: 2rem;
    }

    .collection__menu-bar {
        margin-bottom: 0.5rem;
        padding-top: 1rem;
    }

    .collection__header {
        font-size: 3.8rem;
    }

    .collection__menu {
        padding-top: 1.2rem;
        padding-left: 7.2rem;
        justify-content: flex-end !important;
    }

    .collection__latest-btn {
        font-size: 1.5rem;
        margin-right: 1.3rem; 
    }

    .collection__control-prev {
        left: 7%;
        top: 110%;
    }

    .collection__control-next {
        left: 77%;
        top: 110%;
    }

    .collection__item-name {
        font-size: 2rem;
        padding-left: 2px;
    }

    .brand {
        padding: 4.5rem 0 4.5rem;
    }

    .brand-item {
        margin: 0 auto;
        padding-bottom: 24px;
    }

    .comments__photo {
        width: 18rem;
        height: 17rem;
    }

    .comments__text {
        width: 100%;
    }

    .comments__box {
        padding-bottom: 35px;
    }
    .comments__box:last-child {
        margin-left: -15px;
        padding-bottom: 0;
    }

    .comments__header {
        padding-bottom: 6.6rem;
    }

    .comments__carousel-indicators {
        top: -4%;
        left: 2%;
    }

    .comments {
        padding-bottom: 3rem;
        padding-top: 1.5rem;
    }

    .footer {
        padding-top: 2.6rem;
        padding-bottom: 1.8rem;
    }

    .footer__sign-up {
        text-align: left;
    }

    .footer__sign-up-header {
        padding-right: 0.7rem;
    }

    .footer__text {
        margin-bottom: 10px;
    }

    .footer__soc {
        padding-right: 30px;
    }

    .footer__logo {
        display: none;
    }

    .footer__menu {
        display: none; 
    }

    .services__slider-content {
        min-height: 440px;
    }
       
}
   

   @media (max-width:400px) {
    
    .container {
        min-width: 100%;
    }
    .sub-header {
        display: none;
    }

    .sub-header_adaptive {
        display: block; 
    }
    
    .sub-header__site-burger {
        width: 32rem;
        z-index: 30;
        margin-bottom: -25px;
    }
    
    .sub-header__menu {
        justify-content: space-between;
    }
    .sub-header__icon {
        margin-left: -3.4rem ;
    }
    #sub-header__bucket_small {
        padding-top: 5px;
    }
    .sub-header__bucket-indicator {
        margin-left: 3px;
    }

    .header {
        padding-top: 48px;
    }
    .header__content {
        top: 5%;
        left: 5%;
    }
    .header__logo-description {
        padding-left: 11px;
        padding-top: 11px;
    }

    .header__menu {
        padding-top: 6rem;
        padding-bottom: 5rem;
    }
    .header__menu-bar {
        display: none;
    }

    .header__description {
        padding-top: 0rem;
        padding-bottom: 4rem;
        font-size: 4.2rem;
    }

    .header__button { 
        margin-bottom:10px;
    }

    .services {
        padding-top: 42px;
    }
    .services__slider-content {
        font-size: 16px;
    }

    .services__control-prev {
        left: -2%;
        top:-22%;
    }

    .services__control-next {
        left: 15%;
        top: -22%;
    }

    .services__slider-header {
        padding-bottom: 22px;
    }

    #services__carousel {
        padding-bottom: 2rem;
    }

    .collection__menu-bar {
        margin-bottom: 0.5rem;
        padding-top: 1rem;
    }

    .collection__header {
        font-size: 3.8rem;
    }

    .collection__menu {
        padding-top: 1.2rem;
        padding-left: 7.2rem;
    }

    .collection__latest-btn {
        font-size: 1.5rem;
        margin-right: 1.3rem; 
    }

    .collection__control-prev {
        left: 7%;
        top: 110%;
    }

    .collection__control-next {
        left: 77%;
        top: 110%;
    }

    .collection__item-name {
        font-size: 2rem;
        padding-left: 2px;
    }

    .brand {
        padding: 4.5rem 0 4.5rem;
    }

    .brand-item {
        margin: 0 auto;
        padding-bottom: 24px;
    }

    .comments__photo {
        width: 18rem;
        height: 17rem;
    }

    .comments__text {
        width: 100%;
    }

    .comments__box {
        padding-bottom: 35px;
    }
    .comments__box:last-child {
        margin-left: -15px;
        padding-bottom: 0;
    }

    .comments__header {
        padding-bottom: 6.6rem;
    }

    .comments__carousel-indicators {
        top: -4%;
        left: 2%;
    }

    .comments {
        padding-bottom: 3rem;
        padding-top: 1.5rem;
    }

    .footer {
        padding-top: 2.6rem;
        padding-bottom: 1.8rem;
    }

    .footer__sign-up {
        text-align: left;
    }

    .footer__sign-up-header {
        padding-right: 0.7rem;
    }

    .footer__text {
        margin-bottom: 10px;
    }

    .footer__soc {
        padding-right: 30px;
    }

    .footer__logo {
        display: none;
    }

    .footer__menu {
        display: none; 
    } 
}