@font-face {
    font-family: 'ptsans-italic';
    src: url('../fonts/pt-sans-italic.ttf');
}

@font-face {
    font-family: 'bebas-bold';
    src: url('../fonts/bebas-bold.ttf');
}

@font-face {
    font-family: 'ptsans-regular';
    src: url('../fonts/pt-sans-regular.ttf');
}

@font-face {
    font-family: 'ptsans-bold';
    src: url('../fonts/pt-sans-bold.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-brands-400.woff2');
}