//Подключаем стили
@import 'fonts' ;


$main_text-color:white ;
$second_text-color:#977869 ;
$third_text-color: #858585;

//Миксины
@mixin ptsans-italic ($font-size)
{
    font-family: 'ptsans-italic';
    font-size: $font-size;
}

@mixin bebas-bold ($font-size)
{
    font-family: 'bebas-bold';
    font-size: $font-size;
}

@mixin ptsans-regular ($font-size)
{
    font-family: 'ptsans-regular';
    font-size: $font-size;
}

@mixin ptsans-bold ($font-size)
{
    font-family: 'ptsans-bold';
    font-size: $font-size;
}



//Стандартные настройки 
html {
    margin: 0;
    font-size: 10px;
}

body {
    margin: 0;
}

body:not(.modal-open){
    padding-right: 0px !important;
  }

  a {
    color:inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: inherit;
}
.noPadding {
    padding: 0 !important;
    }

.noMargin {
    margin: 0 !important;
}

.container {
    max-width: 74%;
}

.pointer {
    cursor:pointer;
}

.unvisible {
    display: none ;
}

.gradient {
    background: linear-gradient(to top, #b6907e, black);
}

body.modal-open {
    overflow: auto !important;
}

body.modal-open[style] {
    padding-right: 0px !important;
}
//Страница
.carousel.fade{
	opacity: 1;
}
.carousel.fade .carousel-item{
	display: block;
	position: absolute;	
	left: 0;
	top: 0;
    width: 100%;
	opacity: 0;
	transition: opacity 1s;
}
.carousel.fade .carousel-item.active{
	position: relative;
	opacity: 1;
}

.carousel-item>img {
    width: 100%;
    height: auto;
}

.carousel-indicators {
    left: -127rem;
    top: 73rem;
}
.carousel-indicators>li {
    background-color: #5d4a41;
    border-radius: 50% ;
    height: 1.2rem;
    width: 1.2rem !important;
    margin-right:1.6rem;
}
.carousel-indicators>li.active {
    background-color: #b6907e;
}



.sub-header {
    background-color: black;
    padding-top: 3.5rem;
    padding-bottom: 2rem;

&__menu {
    display: flex;
    justify-content: flex-end;
}

&__site-description {
    @include ptsans-italic (1.35rem);
    color: rgb(129, 129, 129) ;
    font-weight: bold;
}

&__icon {
    margin-left:5.6rem;
    border: none;
    background-color: transparent;
}

&__bucket-indicator {
    @include ptsans-bold (1.1rem);
    line-height: 1.2;
    text-align: center;
    background-color: rgb(182, 144, 126);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding-top: 2px;
    margin-left: 13px;
    color: $main_text-color;
}

&__site-burger {
    width: 4rem;
    min-width: 4rem;
    z-index: 30;
}

    &_adaptive {
    width:100%;
    display: none ;
    position: fixed;
    z-index: 20 ;
        background-color: black;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
}
}

.header {

&__content {
    position: absolute;
    top: 7%;
    left: 14%;
}
&__logo {
    display: flex ;
}
&__logo-text {
    @include bebas-bold (3rem);
    color: $main_text-color;
}
&__logo-description {
    @extend .sub-header__site-description ;
    padding-left: 20px;
    padding-top: 17px;
}

&__menu {
    padding-top: 6rem;
    padding-bottom: 8rem;
}
&__menu-bar {
    display: flex;
    margin-left: 6.8rem;
}
&__menu-item {
    @include bebas-bold (1.8rem);
    color: $main_text-color;
    margin-right: 7.8rem;
    height: 89%;
    padding-top: 1.3rem;
    cursor: pointer;
}
&__menu-item:last-child {
    margin-right:0;
}

&__menu-item:hover {
    color: $second_text-color ;
    border-bottom: solid 2px $second_text-color;
}

&__telephone {
    display: flex;
}
&__telephone-number {
    @include bebas-bold (2.4rem);
    color: $main_text-color;
    padding-top: 0.8rem;
}
&__telephone-icon {
    padding-right: 2rem;
    padding-top: 1.2rem;
}

&__description {
    @include bebas-bold (8.2rem);
    color:$main_text-color;
    padding-top: 4rem;
    padding-bottom:4rem;
    line-height: 1.3;
}    

&__button {
    @include bebas-bold (1.8rem);
    color: $second_text-color;
    border: 2px solid $second_text-color;
    padding: 1.6rem 3rem;
    margin-right: 3rem;
    letter-spacing: 2px;
    cursor: pointer;
     transition: all 0.2s ease;
     position:relative;
}
&__button:last-child {
    margin-right:0rem;
}

&__button:active {
    top: 3px;
}
}


#services__carousel {
    padding-top: 28rem;
    padding-bottom:24rem;
}

.services {
background-image: url('../img/services_img.jpg') ;
background-size: cover;

&__slider-header {
    @include bebas-bold (4.8rem);
    color: $main_text-color;
}

&__slider-content {
    @include ptsans-regular (2.4rem);
    color: $third_text-color;
    padding-top: 1.6rem;
    line-height: 4.1rem;
}

&__control-prev {
    top: -42rem;
    left: -4rem;
}

&__control-next {
    top: -42rem;
    left: 3rem;
}
}


.collection {
    background-color: black;
    padding-bottom:7rem;

&__menu-bar {
    margin-bottom: 5.5rem;
    padding-top: 7rem;
}

&__header {
    @include bebas-bold (4.8rem);
    color: $main_text-color
}

&__menu {
    padding-top: 2.2rem;
    padding-left: 12.2rem;

}

&__latest-btn {
    @include ptsans-bold (1.8rem);
    height:3rem;
    color:$main_text-color;
    margin-right: 4.3rem;
    cursor: pointer;
}

&__popular-btn {
    @extend .collection__latest-btn ;
    margin-left: 1.7rem;
    margin-right: 0 ;
}

&__item {
    text-align: center;
    border: solid 1px $third_text-color;
    max-width: 30%;
    padding: 4.7rem 0 ;
}

&__item-image img {
    width: 56%;
    height: auto;
}


&__item-name {
    @include bebas-bold (3rem);
    color: $main_text-color;
    padding-top: 5rem;
}

&__item-price {
    @include ptsans-bold (2.4rem);
    color: $second_text-color;
}

&__control-prev {
    left: -19.6rem;
}

&__control-next {
    right: -19.6rem;
}
}

.brand {
    padding: 10.5rem 0 9rem;
    background-color: #0e0e0e;
}

.comments {
    background-color: black;
    padding-top: 6.5rem;
    padding-bottom: 20rem;

&__header {
    @include bebas-bold (4.8rem);
    color: $main_text-color;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 11.6rem;
}
&__photo {
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    margin-right:5.8rem;
}
&__photo > img {
    position: absolute;
    display: block;
}
&__text {
    width: 54% ;
    padding-top:2.1rem;
}

&__text-header {
    @include bebas-bold (3.6rem);
    color: $main_text-color;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 2.5rem;
    

}

&__text-content {
    @include ptsans-regular (1.8rem);
    color:$third_text-color ;
    line-height: 2;
    text-align: left;

}

&__box:last-child {
    margin-left: 3.4rem;
}

&__carousel-indicators {
    top: 36rem;
    left: 5rem;
}
}

.footer {
    background-color: #0e0e0e ;
    padding-top: 7.6rem;
    padding-bottom: 7.8rem;

&__logo-item {
    @include bebas-bold (3.6rem);
    color: $main_text-color;
}

&__logo-description {
    @extend .sub-header__site-description ;
    padding-top:1rem;
}
&__sign-up {
    text-align: right;
}

&__copyright-bar {
    padding-top: 7rem;
}
&__menu {
    padding-left: 11.6rem;
}
&__menu-header {
    @include bebas-bold (3rem);
    color:$main_text-color ;
    text-align: left;
    
}
&__menu-items {
    padding-top: 3.4rem;
}
&__menu-item {
    @include bebas-bold (1.8rem);
    color: rgb(94, 93, 93);
    width: 50%;
    padding-bottom: 2.1rem;
}
&__menu-item:hover {
    color: $second_text-color ;
}

&__sign-up-header {
    @include bebas-bold (3rem);
    color:$main_text-color ;
    padding-right:13.7rem;
    padding-bottom:3.4rem;
}
&__text {
    @include ptsans-regular (1.8rem);
    width: 256px;
    height: 50px;
    background:transparent ;
    color: rgb(73, 73, 73);
    line-height: 1.2;
    text-align: left;
    border: 1px solid  rgb(73, 73, 73);
    padding-left: 3rem;
}
&__button {
    @include bebas-bold (1.8rem);
    width: 152px;
    height: 50px;
    color: rgb(112, 81, 66) ;
    background-color: rgb(182, 144, 126);
    line-height: 1.2;
    text-align: center;
    border:none;
}
&__copyright {
    @include ptsans-regular (1.6rem);
    color: rgb(73, 73, 73);
    line-height: 1.2;
    text-align: left;
}

&__soc-twitter {
    margin-right: 2.4rem;
}
}

// #loginModal {
//     width: 20%;
//     margin: 0 auto;
// }

#loginModalLabel {
    @include bebas-bold (3.3rem);
}
#searchModalLabel {
    @include bebas-bold (3.3rem);
}

.login__header {
    text-align: center;
    color:white;
    background-color: #0e0e0e;
    padding-left: 1rem;
}

.modal__login  {
    width: 70%;
    margin-bottom: 1rem;
    @include bebas-bold (1.6rem);
    border-radius: 2px;
    color: black ;
    border: solid 1px black;
    padding-left: 1rem;
}

#searchText {
    @extend .modal__login ;
}

.modal__password {
    @include bebas-bold (1.6rem);
    border-radius: 2px;
    color: black;
    border: solid 1px black;
    width: 70%;
    padding-left: 1rem;
}
.login__footer {
    justify-content: flex-start;
    padding: 10px 0;
}

.btn {
    margin-right:3px;
}

.test-class {
    position: relative;
   
}

@import 'adaptive' ;